@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Sans+Arabic:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


::selection{
    background: #03a9f4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "noto sans arabic" , tahoma;
}
body{
    background-color: #03a9f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: aliceblue;
    width: 400px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.container :where(textarea , button){
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0;
}
.container textarea{
    border: 1px solid #999;
}
.container button{
    background-color: #83e5fc;
    transition: all 1s;
}